<?xml version='1.0' encoding='utf-8'?>
<widget id="com.neclass" version="0.1.1">
  <name>NE클래스</name>
  <description>
    중학영어 1위 NE클래스
  </description>
  <author email="sungu.che@icloud.com">
    sungu.che
  </author>

  <platform name="android">
    <icon src="img/logo.png" density="ldpi" />
    <icon src="img/logo.png" density="mdpi" />
    <icon src="img/logo.png" density="hdpi" />
    <icon src="img/logo.png" density="xhdpi" />
    <icon src="img/logo.png" density="xxhdpi" />
    <icon src="img/logo.png" density="xxxhdpi" />
  </platform>
</widget>
